body{
	background-image: url("../image/back1.jpg");
	 background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     height:150%;
	background-position:center;
}
.container{
	box-shadow: 5px;
}