body{
	background-image: url(../image/back.jpg);
	 background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     height:100%;
	background-position:center;
}
.navbar-default {
/*
    background: none;
  	border: none;
*/
}
.container{
	margin-top: 0;
}

.form-control::-webkit-input-placeholder {
	color: rebeccapurple;
	font-size: 12px;
}
.form-control:-moz-placeholder { 
	color: rebeccapurple; 
	font-size: 12px;
}
.form-control::-moz-placeholder {
	color: rebeccapurple;
	font-size: 12px;	
}
.form-control:-ms-input-placeholder {
	color: rebeccapurple; 
	font-size: 12px;
}
.form-control:focus {
	border-color: #FF0000;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
	background-color: oldlace;
}
p{
	margin-top: 15px;
}
h3{
	color: red;
}
.title{
	color: red;
}
.about p{
	color: white;
	text-shadow: 5px;
	text-decoration-style:dotted;
}